In [1]:
#Question 1:

a = 0 

def b():
    global a
    a = c(a)
    
def c(a):
    return a + 2 

b()
b()
b()
a               #The answer after each execution resulted to the total sum of 6. This was as a result of the successive addition of 2 to the initial command of 'a + 2'. b() then a is 0 + 2 = 2, b() then a is 2 + 2 = 4, b() then a is 4 + 2 = 6.

6

In [2]:
#Question 2:

try:                                              #using the 'try' and 'except' clause.
    fileLength('idterm.py')
except Exception:
    print('File idterm.py not found.')

File idterm.py not found.

In [3]:
#Question 3:


class Marsupial:

    def __init__(self):                         # the constructor

        self.pouch=[]

    def put_in_pouch(self, item):               # method
        
        self.pouch.append(item)

    def pouch_contents(self):

        return self.pouch


class Kangaroo(Marsupial):                     # creating the subclass

    def __init__(self, x,y):

        Marsupial.__init__(self)

        self.x=x

        self.y=y

    def jump(self, dx, dy):                    # method

        self.x+=dx

        self.x+=dy

    def __str__(self):

        return "I am a Kanagroo located at coordinates ("+str(self.x)+","+str(self.y)+")"

k = Kangaroo(0,0)

print(k)

k.put_in_pouch('doll')

k.put_in_pouch('firetruck')

k.put_in_pouch('kitten')

print(k.pouch_contents())

k.jump(1,0)

k.jump(1,0)

k.jump(1,0)

print(k)

I am a Kanagroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kanagroo located at coordinates (3,0)

In [4]:
#Question 4:

def collatz(x):
   
    while x!=1:
     
        print(x)

        if x%2 == 0:
            
            x=x//2
            
        else:
           
            x=3*x+1
  
    print(1)


x=int(input("Please enter the value of n: "))


collatz(x)

Please enter the value of n: 10
10
5
16
8
4
2
1

In [5]:
#Question 5:

def binary(num):
    if num == 0:
        return '0'
    else:
        b = ''
        while num > 0:
            b = str((num % 2)) + b
            num //= 2
        return b


print(binary(0))
print(binary(1))
print(binary(3))
print(binary(9))

0
1
11
1001

In [6]:
#Question 6:

from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    # Define the headings
    headers = ['h1', 'h2', 'h3', 'h4', 'h5', 'h6']

    def handle_starttag(self, tag, attrs):                   # handle the functions
        if tag in self.headers:
            print(tag)

    def handle_endtag(self, tag):
        if tag in self.headers:
            print(tag)

    def handle_data(self, data):
        print(data)


parser = HeadingParser()                                     # test here
infile = open('w3c.html') 
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

FileNotFoundError: [Errno 2] No such file or directory: 'w3c.html'

In [7]:
#Question 8:

!pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\users\admin\anaconda3\lib\site-packages (0.4.1)
Requirement already satisfied: prettytable<1 in c:\users\admin\anaconda3\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: sqlparse in c:\users\admin\anaconda3\lib\site-packages (from ipython-sql) (0.4.3)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\admin\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\admin\anaconda3\lib\site-packages (from ipython-sql) (1.4.32)
Requirement already satisfied: six in c:\users\admin\appdata\roaming\python\python39\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython>=1.0 in c:\users\admin\appdata\roaming\python\python39\site-packages (from ipython-sql) (8.5.0)
Requirement already satisfied: matplotlib-inline in c:\users\admin\appdata\roaming\python\python39\site-packages (from ipython>=1.0->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>3.0.1 in c:\users\admin\appdata\roaming\python\python39\site-packages (from ipython>=1.0->ipython-sql) (3.0.31)
Requirement already satisfied: pygments>=2.4.0 in c:\users\admin\appdata\roaming\python\python39\site-packages (from ipython>=1.0->ipython-sql) (2.13.0)
Requirement already satisfied: jedi>=0.16 in c:\users\admin\appdata\roaming\python\python39\site-packages (from ipython>=1.0->ipython-sql) (0.18.1)
Requirement already satisfied: backcall in c:\users\admin\appdata\roaming\python\python39\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5 in c:\users\admin\appdata\roaming\python\python39\site-packages (from ipython>=1.0->ipython-sql) (5.4.0)
Requirement already satisfied: pickleshare in c:\users\admin\appdata\roaming\python\python39\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: decorator in c:\users\admin\appdata\roaming\python\python39\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: stack-data in c:\users\admin\appdata\roaming\python\python39\site-packages (from ipython>=1.0->ipython-sql) (0.5.1)
Requirement already satisfied: colorama in c:\users\admin\appdata\roaming\python\python39\site-packages (from ipython>=1.0->ipython-sql) (0.4.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\admin\appdata\roaming\python\python39\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: wcwidth in c:\users\admin\appdata\roaming\python\python39\site-packages (from prompt-toolkit<3.1.0,>3.0.1->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\admin\anaconda3\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.1.1)
Requirement already satisfied: pure-eval in c:\users\admin\appdata\roaming\python\python39\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.2.2)
Requirement already satisfied: asttokens in c:\users\admin\appdata\roaming\python\python39\site-packages (from stack-data->ipython>=1.0->ipython-sql) (2.0.8)
Requirement already satisfied: executing in c:\users\admin\appdata\roaming\python\python39\site-packages (from stack-data->ipython>=1.0->ipython-sql) (1.1.1)

In [ ]:
%load_ext sql

In [ ]:
%sql sqlite://

In [59]:
%%sql

CREATE TABLE Weather
(
city varchar(15),
country varchar(15),
season varchar(15),
temperature (c) float,
rainfall (mm) float
);

 * sqlite://
(sqlite3.OperationalError) table Weather already exists
[SQL: CREATE TABLE Weather
(
city varchar(15),
country varchar(15),
season varchar(15),
temperature (c) float,
rainfall (mm) float
);]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [31]:
%%sql

INSERT INTO Weather VALUES('Mumbai', 'India', 'Winter', 24.8,5.9),
('Mumbai', 'India', 'Spring', 28.4,16.2),
('Mumbai', 'India', 'Summer', 27.9,1549.4),
('Mumbai', 'India', 'Fall', 27.6,346.0),
('London', 'United kingdom', 'Winter', 4.2,207.7),
('London', 'United kingdom', 'Spring', 8.3,169.6),
('London', 'United kingdom','Summer', 15.7,157.0),
('London', 'United kingdom','Fall', 10.4,218.5),
('Cairo', 'Egypt','Winter', 13.6,16.5),
('Cairo', 'Egypt', 'Spring', 20.7,6.5),
('Cairo', 'Egypt', 'Summer', 27.7,0.1),
('Cairo', 'Egypt', 'Fall', 22.2,4.5)
;

 * sqlite://
12 rows affected.

[]

In [34]:
#8a - All the temperature data.

%%sql

select temperature from Weather;

 * sqlite://
Done.

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

In [36]:
#8b - All the cities, but without repetition.

%%sql
select distinct city from Weather;

 * sqlite://
Done.

[('Mumbai',), ('London',), ('Cairo',)]

In [39]:
#8c - All the records for India.

%%sql
select * from weather where countrt =='India';

 * sqlite://
Done.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

In [44]:
#8d - All the Fall records.


%%sql
select * from weather where season == 'Fall';

 * sqlite://
Done.

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [47]:
#8e - The city, country, and season for which the average rainfall is between 200 and 400 millimeters.

%%sql
select city, countrt, season from weather where rainfall between 200 and 400;

 * sqlite://
Done.

[('Mumbai', 'India', 'Fall'),
 ('London', 'United kingdom', 'Winter'),
 ('London', 'United kingdom', 'Fall')]

In [49]:
#8f - The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.

%%sql
select city, countrt from weather where season == 'Fall' and temperature > 20 order by temperature ASC;

 * sqlite://
Done.

[('Cairo', 'Egypt'), ('Mumbai', 'India')]

In [50]:
#8g - The total annual rainfall for Cairo.

%%sql
select sum(rainfall) AS annual_rainfall from weather where city == 'Cairo';

 * sqlite://
Done.

[(27.6,)]

In [56]:
#8h - The total rainfall for each season

%%sql
select season, sum(rainfall) AS annual_rainfall from weather group by season;

 * sqlite://
Done.

[('Fall', 569.0),
 ('Spring', 192.29999999999998),
 ('Summer', 1706.5),
 ('Winter', 230.1)]

In [58]:
%%sql
select * from Weather;

 * sqlite://
Done.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United kingdom', 'Winter', 4.2, 207.7),
 ('London', 'United kingdom', 'Spring', 8.3, 169.6),
 ('London', 'United kingdom', 'Summer', 15.7, 157.0),
 ('London', 'United kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [60]:
%%sql
select * from Weather;

 * sqlite://
Done.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United kingdom', 'Winter', 4.2, 207.7),
 ('London', 'United kingdom', 'Spring', 8.3, 169.6),
 ('London', 'United kingdom', 'Summer', 15.7, 157.0),
 ('London', 'United kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [61]:
#Question 9:

words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

print([x.upper() for x in words])                             # a)

print([x.lower() for x in words])                             # b)

print([len(x) for x in words])                                # c)

print([[x.upper(), x.lower(), len(x)] for x in words])        #d)

print([x for x in words if len(x)>=4])                        #e)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[3, 5, 5, 3, 5, 4, 3, 4, 3]
[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]
['quick', 'brown', 'jumps', 'over', 'lazy']